@import "../../app-styles/vars";

.AppHeader {
  display: grid;
  grid-template-columns:
    [first-part] auto
    [sidebar-icon-part] auto
    [logo-part] auto
    [title-part] 1fr
    [left-part] auto
    [user-part] auto
    [right-part] auto
    [end];
  -ms-grid-columns: auto auto auto 1fr auto auto auto;
  //grid-template-rows: [content-start] auto [content-end];
  //-ms-grid-rows: 1fr;

  // todo @ANKU @LOW - @BUG_OUT @IE - обязательно нужно указывать расположение
  // https://stackoverflow.com/a/45787093/344172
  &__firstPart {
    -ms-grid-column: 1;
  }
  &__sidebarIconPart {
    -ms-grid-column: 2;
  }
  &__logoPart {
    -ms-grid-column: 3;
  }
  &__titlePart {
    -ms-grid-column: 4;
  }
  &__leftPart {
    -ms-grid-column: 5;
  }
  &__userPart {
    -ms-grid-column: 6;
  }
  &__rightPart {
    -ms-grid-column: 7;
  }

  align-items: center;
  // todo @ANKU @LOW @BUG_OUT @IE - не понимает align-items на контейнере
  & > * {
    display: flex;
    align-items: center;
  }

  // ======================================================
  // FirstPart
  // ======================================================


  // ======================================================
  // SidebarIconPart
  // ======================================================
  .SidebarIconPart {
    font-size: 22px;
    cursor: pointer;
  }

  // ======================================================
  // LogoPart
  // ======================================================
  .LogoPart {
    &__image {

    }
    // @deprecated - для поддержания обратной совместимости (вдруг кто-то лого ждал)
    & > * {
      max-width: 120px;
      min-width: 120px;
    }
  }

  // ======================================================
  // TitlePart
  // ======================================================
  .TitlePart {
    &__link {
      text-decoration: none;
    }
    &__title {
      font-size: 1.25rem;

      @media (min-width: 768px) {
        font-size: 1.75rem;
        line-height: 1.5rem;
      }
    }
    //&__description {
    //}
  }

  // ======================================================
  // LeftPart
  // ======================================================

  // ======================================================
  // UserInfo
  // ======================================================
  &__userPart {
    .ui.dropdown > .dropdown.icon {
      margin-left: 5px;
    }
  }

  .UserPart {
    &__menu {
      white-space: nowrap;
    }

    &__name {
      display: inline-block;
      white-space: nowrap;
    }

    // todo @ANKU @LOW - pointing="top right" - при наведении показывается, но при этом из-за расстояния из-за поинтинга вниз ведешь и тут же скрывается, держится только по клику
    .ui.top.right.pointing.dropdown > .menu {
      margin-top: 0.1em;
      right: -1em;
    }
    //.ui.top.left.pointing.dropdown > .menu:after {
    //
    //}
  }
  // ======================================================
  // RightPart
  // ======================================================
}

