.Hint {
  box-shadow: none;

  //&__icon {
  //  font-size: large;
  //  margin-right: 0;
  //  margin-left: 0.2em;
  //  opacity: 0.5;
  //}
}

// todo @ANKU @LOW - ненавижу семантик
i.Hint__icon.icon {
  font-size: large;
  margin-right: 0;
  margin-left: 0.2em;
  opacity: 0.5;
}
