@import "../../app-styles/vars";

.AuthFormLayout {
  height: 100%;

  .ui.button {
    background: $color-primary-auth;
    color: $color-text-auth;

    &:disabled {
      background: color($color-primary-auth blackness(80%));
      color: color($color-text-auth blackness(80%));
    }
  }
}
