.ui.button {
  &.Button {
    &.Button--simple {
      border: none;
      background: none;

      &:hover {
        border: none;
        background: none;
      }
      &:focus {
        border: none;
        background: none;
      }
    }
  }
}
